In [1]:
import pandas as pd
from src.s3_utils import s3_fetcher
from src.data_cleaning import (
    selected_columns,
    rename_columns,
    drop_columns,
    fix_data_types_columns,
    clean_textual_column
)

In [2]:
energy_raw = s3_fetcher(
    bucket = "tkh-nyc-energy",    
    object_key = 'energy_raw_06032024.csv'
)

In [3]:
energy_raw.head()

,borough,account_name,serial_number,funding_origin,total_bill,kwh_consumption,kwh_bill,kw_consumption,kw_bill,year_month,start_date,end_date
0,bronx,adams,7223256,federal,15396.82,128800.0,2808.0,216.0,2808.0,2010-01-01,2009-12-24,2010-01-26
1,bronx,adams,7223256,federal,14556.34,115200.0,2912.0,224.0,2912.0,2010-02-01,2010-01-26,2010-02-25
2,bronx,adams,7223256,federal,13904.98,103200.0,2808.0,216.0,2808.0,2010-03-01,2010-02-25,2010-03-26
3,bronx,adams,7223256,federal,14764.04,105600.0,2704.0,208.0,2704.0,2010-04-01,2010-03-26,2010-04-26
4,bronx,adams,7223256,federal,13729.54,97600.0,2808.0,216.0,2808.0,2010-05-01,2010-04-26,2010-05-24

In [4]:
energy_raw_selected_columns = selected_columns(energy_raw)
energy_rename_column = rename_columns(energy_raw_selected_columns)
energy_drop_columns = drop_columns(energy_rename_column)
energy_fix_data_types_column = fix_data_types_columns(energy_drop_columns)
energy_clean_textual_column = clean_textual_column(energy_fix_data_types_column)

In [6]:
energy_clean_textual_column.head()

,Borough,Account_Name,Serial_Number,Funding_Origin,Total_Bill,KWH_Consumption,KWH_Bill,KW_Consumption,KW_Bill,Year_Month,Start_Date,End_Date
0,bronx,adams,7223256,federal,15396.82,128800.0,2808.0,216.0,2808.0,2010-01-01 01:00:00,2009-12-24,2010-01-26
1,bronx,adams,7223256,federal,14556.34,115200.0,2912.0,224.0,2912.0,2010-02-01 01:00:00,2010-01-26,2010-02-25
2,bronx,adams,7223256,federal,13904.98,103200.0,2808.0,216.0,2808.0,2010-03-01 01:00:00,2010-02-25,2010-03-26
3,bronx,adams,7223256,federal,14764.04,105600.0,2704.0,208.0,2704.0,2010-04-01 01:00:00,2010-03-26,2010-04-26
4,bronx,adams,7223256,federal,13729.54,97600.0,2808.0,216.0,2808.0,2010-05-01 01:00:00,2010-04-26,2010-05-24